on: [push, pull_request]
name: Build
jobs:
  build:
    strategy:
      matrix:
        go-version: [1.17.x, 1.18.x]
        goarch: [amd64, arm64, ppc64le]
        os: [ubuntu-latest, macos-latest] #, macos-latest, windows-latest]
        exclude:
          - os: macos-latest
            goarch: ppc64le
          - os: macos-latest
            goarch: arm64
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}

# Uncomment this to use github action's cache
#    - uses: actions/cache@v2
#      with:
#        path: ~/go/pkg/mod
#        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
#        restore-keys: |
#          ${{ runner.os }}-go-

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Build
      env:
        GOARCH: ${{ matrix.goarch }}
        GOOS: ${{ matrix.goos }}
      run: go build -o kubectl-multinet_${{ matrix.goos }}_${{ matrix.goarch }}  ./cmd/kubectl-multinet.go
